<div class="add-tag-form">
    <h2>Add Tags</h2>

    <form>
      <div class="form-group">
        <label for="tagName">Name</label>
        <input type="text" id="tagName" [(ngModel)]="tag.name" name="name" placeholder="Enter your tag name" required>
      </div>
      <div class="form-group">
        <label for="tagDescription">Description</label>
        <textarea id="tagDescription" [(ngModel)]="tag.description" name="description" rows="5" placeholder="Describe your tag in detail" required></textarea>
      </div>
      <button type="submit" (click)="onSubmit()" [disabled]="validateForm()">Create</button>
    </form>
  </div>

  <app-popup [message]="popupMessage" [success]="popupSuccess" [isPopupVisible]="isPopupVisible" (onClose)="onClosePopup($event)"></app-popup>