<div class="settings-container">
  <aside class="sidebar">
    <ul>
      <li [class.active]="router.isActive('/profile/' + userId + '/settings', true)" (click)="navigateTo('/profile/' + userId + '/settings')">Preferences</li>
      <li [class.active]="router.isActive('/profile/' + userId + '/settings/edit', true)" (click)="navigateTo('/profile/' + userId + '/settings/edit')">Edit profile</li>
      <li [class.active]="router.isActive('/profile/' + userId + '/settings/delete', true)" (click)="navigateTo('/profile/' + userId + '/settings/delete')">Delete account</li>
    </ul>
  </aside>
  <main class="preferences">
    <router-outlet></router-outlet>
  </main>
</div>
