<nav class="sidebar">
  <ul>
    <li [class.active]="router.isActive('/', false) && !router.isActive('/questions', false) && !router.isActive('/tags', false) && !router.isActive('/profile/{{userId}}/saves', false) && !router.isActive('/profile', true) && !router.isActive('/aichat', false) && !router.isActive('/users', false)">
        <a routerLink="/home">
            <i class="fa-sharp fa-solid fa-house"></i>Home
        </a>
    </li>
    <li [class.active]="router.isActive('/questions', false)">
        <a routerLink="/questions">
            <i class="fa-solid fa-message-question"></i>Questions
        </a>
    </li>
    <li [class.active]="router.isActive('/tags', false)">
        <a routerLink="/tags">
            <i class="fa-sharp fa-solid fa-tags"></i>Tags
        </a>
    </li>
    <li *ngIf="isAuthenticated" [class.active]="router.isActive('/profile/{{userId}}/saves', false)">
        <a routerLink="/profile/{{userId}}/saves">
            <i class="fa-solid fa-bookmark"></i>Saves
        </a>
    </li>
    <li [class.active]="router.isActive('/users', false)">
        <a routerLink="/users">
            <i class="fa-solid fa-user-group"></i>Users
        </a>
    </li>
    <li [class.active]="router.isActive('/aichat', false)">
        <a routerLink="/aichat">
            <i class="fa-solid fa-robot"></i>AI Chat
        </a>
    </li>
  </ul>
</nav>
