
.login-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

h2 {
  margin-bottom: 20px;
  color: #ffffff;
}

.logo {
  width: 150px;
}
.login-form {
  background-color: #1e1e1e;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
}

.login-form {
  align-items: center;
}

p {
  color: #ffffff;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #ffffff;
  text-align: left;
}

input[type="email"],
input[type="password"] {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  background-color: #333;
  color: white;
}

.login-button {
  width: 90%;
  padding: 10px;
  background-color: #4285F4;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.signup-text {
  margin-top: 20px;
  font-size: 14px;
}

.signup-text a {
  color: #4285F4;
  text-decoration: none;
}

* {
  margin: 11px;
  padding: 0px;
  box-sizing: border-box;
}

/* src/app/components/login/login.component.css */

.popup-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}
