<div class="delete-profile-container">
  <h1>Delete Profile</h1>
  <p>
    Before confirming that you would like your profile deleted, we'd like to
    take a moment to explain the implications of deletion:
  </p>
  <ul>
    <li>
      Deletion is irreversible, and you will have no way to regain any of your
      original content, should this deletion be carried out and you change your
      mind later on.
    </li>
    <li>
      Your questions and answers will remain on the site, but will be
      disassociated and anonymized (the author will be listed as "user28047185")
      and will not indicate your authorship even if you later return to the
      site.
    </li>
  </ul>
  <p>
    Confirming deletion will only delete your profile on Stack Overflow - it
    will not affect any of your other profiles on the Stack Exchange network. If
    you want to delete multiple profiles, you'll need to visit each site
    separately and request deletion of those individual profiles.
  </p>
  <div class="checkbox-container">
    <input type="checkbox" id="confirmDelete" [(ngModel)]="isConfirmed" />
    <label for="confirmDelete"
      >I have read the information stated above and understand the implications
      of having my profile deleted. I wish to proceed with the deletion of my
      profile.</label
    >
  </div>
  <button
    [disabled]="!isConfirmed"
    (click)="deleteProfile()"
    class="delete-button"
  >
    Delete profile
  </button>
</div>
