<div class="users-container">
    <h1>Users</h1>
    <div class="header">
      <div class="search-bar">
        <i class="fa-regular fa-magnifying-glass"></i>
        <input type="text" placeholder="Filter by user" [(ngModel)]="searchQuery" (input)="filterUsers()" />
      </div>
      <div class="tabs">
        <button [class.active]="sortBy === 'reputation'" (click)="sortUsers('reputation')">Reputation</button>
        <button [class.active]="sortBy === 'new'" (click)="sortUsers('new')">New users</button>
        <button [class.active]="sortBy === 'voters'" (click)="sortUsers('voters')">Voters</button>
        <button [class.active]="sortBy === 'editors'" (click)="sortUsers('editors')">Editors</button>
        <button [class.active]="sortBy === 'moderators'" (click)="sortUsers('moderators')">Moderators</button>
      </div>
    </div>
    <div class="users-grid">
      <div class="user-card" [routerLink]="['/profile/', user.id]" *ngFor="let user of users">
        <img [src]="user.image" alt="User Image" class="user-image" />
        <div class="user-info">
          <h3 class="user-name">{{ user.name }}</h3>
          <p class="user-location">{{ user.location }}</p>
          <p class="user-reputation">{{ user.votes }}</p>
        </div>
      </div>
    </div>
  </div>