.profile-edit {
    color: #fff;
    border-radius: 8px;
}

h1 {
    color: #fff;
    padding-bottom: 10px;
    border-bottom: 1px solid #707070;
}

h2 {
    color: #fff;
    margin-top: 20px;
    margin-bottom: 10px;
}

form {
    display: flex;
    flex-direction: column;
}

section {
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 30px;
    background-color: #36393f;
}

label {
    display: block;
    margin-bottom: 10px;
}

img {
    width: 150px;
    height: 150px;
    border-radius: 10px;
}

section div {
    position: relative;
    margin-bottom: 20px;
}

section label.file-input {
    position: absolute;
    bottom: -5px;
    left: 0;
    padding: 10px 0;
    width: 150px;
    text-align: center;
    background-color: #fff;
    color: #2e2e2e;
    cursor: pointer;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

section input,
section textarea {
    width: 100%;
    padding: 10px 10px 10px 30px;
    color: var(--text-dark);
    border-radius: 7px;
    background-color: #2e2e2e;
    border: 1px solid var(--border-dark);
}

.buttons {
    margin: 50px 0;
}

.buttons button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 7px;
    cursor: pointer;
    margin-right: 10px;
}

.buttons button[type="button"] {
    background-color: #6c757d;
}