.profile-container {
    color: #fff;
    padding: 20px;
    border-radius: 8px;
  }
  
  .profile-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .profile-image {
    width: 100px;
    height: 100px;
    border-radius: 20px;
  }
  
  .profile-details {
    flex-grow: 1;
    margin-left: 20px;
  }
  
  .profile-name {
    font-size: 24px;
    margin: 0;
  }

  .profile-info {
    font-size: 14px;
    display: flex;
  }
  
  .profile-info span {
    display: block;
    margin-top: 5px;
    margin-right: 10px;
  }

  .profile-info span i {
    margin-right: 5px;
  }
  
  .profile-actions {
    display: flex;
    gap: 10px;
  }
  
  .edit-profile, .logout {
    background-color: #444;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .profile-navigation {
    margin-top: 20px;
    display: flex;
    gap: 10px;
  }
  
  .nav-button {
    background-color: #444;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .nav-button.active {
    background-color: #ff7f50;
  }